body {
  background-color: #ebecf0;
}

.ico-calc {
  display: inline-block;
  width: .48rem;
  height: .48rem;
  background: url('../img/ico-calc.png') center no-repeat;
  background-size: contain;
}
.ico-arrow.right {
  display: inline-block;
  width: .16rem;
  height: .26rem;
  background: url('../img/ico-arrow-rt.png') center no-repeat;
  background-size: contain;
}
.ico-cust-serv {
  display: inline-block;
  width: .82rem;
  height: .82rem;
  background: url('../img/ico-cust-serv.png') center no-repeat;
  background-size: contain;
}

/*.p-class1 {
  padding-bottom: 4.6rem;
}*/
.p-class1 .mod-header {
  background-image: -webkit-linear-gradient(300deg, #37cfd4, #0dbac5);
  background-image: -o-linear-gradient(300deg, #37cfd4, #0dbac5);
  background-image: linear-gradient(-210deg, #37cfd4, #0dbac5);
  color: #FFF;
  position: relative;
  padding: 1rem 0 .6rem;
  text-align: center;
}
.p-class1 .mod-header .ico-calc {
  position: absolute;
  top: .3rem;
  right: .3rem;
}

.p-class1 .mod-header .account-title {
  font-size: 14px;
  line-height: 1;
  opacity: 0.7;
  margin-bottom: .22rem;
}
.p-class1 .mod-header .account-amount {
  /*padding: 0.4rem 0;*/
  font-size: 40px;
  margin-bottom: .32rem;
}
.p-class1 .mod-header .account-more a {
  font-size: 14px;
  color: currentColor;
  display: inline-block;
  vertical-align: middle;
}
.p-class1 .mod-header .account-more .ico-arrow.right {
  vertical-align: middle;
  margin-left: .14rem;
}

.p-class1 .mod-header .record {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: .8rem;
}
.p-class1 .mod-header .record-profit {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}
.p-class1 .mod-header .record-profit:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: .6rem;
  width: 2px;
  background-color: #FFF;
  opacity: 0.4;
}
.p-class1 .mod-header .record-profit:last-child:after {
  display: none;
}
.p-class1 .mod-header .record-title {
  font-size: 14px;
  line-height: 1;
  opacity: 0.7;
}
.p-class1 .mod-header .record-value {
  /*padding: 0.16rem 0;*/
  font-size: 16px;
  padding-top: .168rem;
}

.p-class1 .promo {
  font-size: 14px;
  color: #FFF;
  padding: .268rem .6rem .268rem .42rem;
  background-color: #37cfd4;
  position: relative;
}
.p-class1 .promo .ico-arrow.right {
  position: absolute;
  right: .4rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.p-class1 .updates {
  padding: 0 .4rem;
}

.p-class1 .mod-message {
  margin-top: .4rem;
  background-color: #FFF;
  padding: .4rem;
  border-radius: 0 .24rem .24rem;
  -webkit-box-shadow: 3px 7px 12px 0px rgba(219, 219, 219, 0.3);
          box-shadow: 3px 7px 12px 0px rgba(219, 219, 219, 0.3);
}
.p-class1 .mod-message .dialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.p-class1 .mod-message .ico-cust-serv {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 .82rem;
          flex: 0 0 .82rem;
  margin-right: .4rem;
}
.p-class1 .mod-message .dialog-text {
  font-size: 14px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.p-class1 .mod-message .news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .3rem 0 .166rem 1.2rem;
}
.p-class1 .mod-message .news-cover {
  width: .88rem;
  height: .72rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 .88rem;
          flex: 0 0 .88rem;
  margin-right: .12rem;
}
.p-class1 .mod-message .news-cover img {
  display: block;
  width: 100%;
  height: 100%;
}
.p-class1 .mod-message .news-title {
  font-size: 14px;
  color: #598ac1;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.p-class1 .mod-footer {
  text-align: center;
  padding: .268rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.p-class1 .mod-footer a {
  color: #0ea1bc;
  font-size: 16px;
}